# Mostly duplicated from
# https://github.com/pytorch/vision/blob/master/.travis.yml

language: python
sudo: required
dist: xenial
cache:
  timeout: 300  # 5 min timeout
  pip: true
  directories:
    - /tmp/cache

matrix:
  include:
    - env: LINT_CHECK
      python: "3.6"
      install: pip install flake8
      script: flake8

    - python: "3.6"
      #    - python: "3.6"
      #      env: IMAGE_BACKEND=Pillow-SIMD

    - python: "3.7"
      #    - python: "3.7"
      #      env: IMAGE_BACKEND=Pillow-SIMD

install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - if [[ -d $HOME/miniconda ]]; then
        bash miniconda.sh -b -u -p $HOME/miniconda;
    else
        bash miniconda.sh -b -p $HOME/miniconda;
    fi
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - sed -i  "s/python=[0-9\.]\+/python=$TRAVIS_PYTHON_VERSION/g" environment.yml
  - cat environment.yml
  - conda env create -n torchvideo -f environment.yml
  - source activate torchvideo
  - pip install codecov
  - python setup.py install
  - if [[ "$IMAGE_BACKEND" == "Pillow-SIMD" ]]; then
      pip uninstall -y pillow && CC="cc -march=native" pip install --force-reinstall pillow-simd;
    fi

  - if [[ -f /tmp/cache/big_buck_bunny_360p_5mb.mp4 ]]; then
      cp /tmp/cache/big_buck_bunny_360p_5mb.mp4 tests/data/media;
    fi
  - pushd tests/data/media; ./gen_test_media.sh; popd
  - if [[ ! -f /tmp/cache/big_buck_bunny_360p_5mb.mp4 ]]; then
      mkdir -p /tmp/cache;
      cp tests/data/media/big_buck_bunny_360p_5mb.mp4 /tmp/cache;
    fi

script:
- make test

after_success:
- coverage combine
- coverage report
- codecov
