https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl
numpy==1.15.4
pillow==6.2.0
sphinx==1.8.3
sphinx_autodoc_typehints==1.6.0
sphinx_rtd_theme==0.4.2
torchvision==0.2.1
